#include "windows.h" 


DLG_TOOLBOX DIALOG DISCARDABLE  20, 40, 420, 94
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Emulated SCSI Toolbox"
FONT 8, "Helv"
BEGIN
	CONTROL "Detected SCSI devices", 100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 7, 183, 8
	CONTROL "",                      101, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 16, 400, 56
	CONTROL "Mount new image",       102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 72, 88, 14
	CONTROL "Transfer files",        103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 72, 88, 14
	CONTROL "Exit",                  IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 328, 72, 80, 14
END


DLG_MOUNT DIALOG DISCARDABLE  24, 32, 236, 198
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Mount image"
FONT 8, "Helv"
BEGIN
	CONTROL "Selected device",       100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 8, 104, 8
	CONTROL "",                      101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 216, 12
	CONTROL "Available image files", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 32, 112, 8
	CONTROL "",                      103, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 40, 216, 136
	CONTROL "Mount",                 IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 176, 40, 14
	CONTROL "Cancel",                IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 176, 40, 14
END


DLG_SHARE DIALOG DISCARDABLE  24, 32, 236, 198
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Transfer files"
FONT 8, "Helv"
BEGIN
	CONTROL "Selected device",           100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 8, 104, 8
	CONTROL "",                          101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 216, 12
	CONTROL "Shared directory contents", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 32, 112, 8
	CONTROL "",                          103, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 40, 216, 136
	CONTROL "Download...",               110, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 176, 56, 14
	CONTROL "Upload...",                 111, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 176, 56, 14
	CONTROL "Cancel",                    IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 176, 40, 14
END

